@font-face{
    font-family: 'Orkney';
    font-style: normal;
    font-weight: 300;
    src:url(../fonts/orkney-light.otf)
}
@font-face{
    font-family: 'Orkney';
    font-style: normal;
    font-weight: 400;
    src:url(../fonts/orkney-regular.otf)
}
@font-face{
    font-family: 'Orkney';
    font-style: normal;
    font-weight: 500;
    src:url(../fonts/orkney-medium.otf)
}
@font-face{
    font-family: 'Orkney';
    font-style: normal;
    font-weight: 700;
    src:url(../fonts/orkney-bold.otf)
}